__pycache__/
dfs_progress.pkl
data/
output/
graphs/
solve-data/
logs/
data/
plots/
trained_models/
app.log
a0_data/

neighboring_states/
iteration_training_states.p
training_states.p
random_states.p
sampled_training_states.p
sampled_neighboring_states.p
test_label2.png
testing.p
training_data/
